boto3==1.9.73
botocore==1.12.73
coverage==4.5.2
docutils==0.14
elasticsearch==2.1.0
geoip2==2.9.0
mock==2.0.0
py==1.7.0
py4j==0.10.7
pylint==2.2.2
pyspark==2.4.0
pytest==4.0.2
pytest-cov==2.6.0
python-dateutil==2.7.5
python-geoip==1.2
python-geoip-geolite2==2015.303
s3transfer==0.1.13
urllib3==1.24.1
